<a href="https://colab.research.google.com/github/Joseph941230/Pyspark/blob/main/Pyspark_prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [ ]:
new_df = spark.read.csv("MOCK_DATA.csv",header = True, inferSchema = True) # use inferSchema can treat the right data type

In [ ]:
new_df.show()

+---+----------+-----------+--------------------+----------+--------------+
| id|first_name|  last_name|               email|    gender|    ip_address|
+---+----------+-----------+--------------------+----------+--------------+
|  1|  Harcourt|      Enser|   henser0@chron.com|  Bigender| 78.131.90.164|
|  2|   Dorotea|       Wren|    dwren1@zdnet.com|    Female|70.197.109.138|
|  3|     Nesta|   Jervoise|njervoise2@cargoc...|    Female|116.67.223.252|
|  4|     Timmi|      Zuker|tzuker3@kickstart...|    Female|  41.117.81.99|
|  5|      Bili|      Wigin|  bwigin4@senate.gov|Non-binary|  66.228.25.32|
|  6| Stephenie|   St Clair|  sstclair5@yelp.com|    Female|204.15.220.140|
|  7|Margaretha|      Macek|mmacek6@virginia.edu|    Female|235.167.59.249|
|  8| Thorndike|     Arthan|tarthan7@aboutads...|      Male|101.58.180.167|
|  9|  Ezechiel|     Rainey|erainey8@reuters.com|      Male| 132.186.60.85|
| 10|    Sindee|    Traynor|straynor9@census.gov|    Female|  18.50.61.175|
| 11|  Orbadiah|    McRorie| omcroriea@patch.com|      Male|  243.178.24.3|
| 12|      Guss|    Raggatt|  graggattb@ucsd.edu|      Male| 221.113.62.97|
| 13|   Bryanty|O' Sullivan|bosullivanc@imdb.com|      Male| 253.79.96.112|
| 14|    Abbott|       Veld|    aveldd@yahoo.com|Polygender| 217.94.104.50|
| 15|     Kelly|    Weepers|  kweeperse@ucla.edu|    Female| 250.97.124.68|
| 16|     Maxie|   Melarkey|mmelarkeyf@prince...|      Male| 78.27.205.239|
| 17|     Merna|   Checkley|mcheckleyg@thetim...|    Female| 204.148.6.201|
| 18|    Maible|      Diche|mdicheh@csmonitor...|Non-binary|   81.6.45.110|
| 19|     Winne|      Brosh|    wbroshi@xing.com|    Female|163.80.229.248|
| 20|     Peter|  Philippon|pphilipponj@washi...|      Male| 95.52.146.201|
+---+----------+-----------+--------------------+----------+--------------+
only showing top 20 rows

In [ ]:
new_df.filter("gender == 'Female' and last_name == 'Enser'").show() # filter SQL style

+---+----------+---------+-----+------+----------+
| id|first_name|last_name|email|gender|ip_address|
+---+----------+---------+-----+------+----------+
+---+----------+---------+-----+------+----------+

In [ ]:
new_df.filter((new_df.last_name == "Enser") & (new_df.gender == "Female")).limit(5).show()

+---+----------+---------+-----+------+----------+
| id|first_name|last_name|email|gender|ip_address|
+---+----------+---------+-----+------+----------+
+---+----------+---------+-----+------+----------+

In [ ]:
new_df.select("id").filter("id <= 3").show() #SELECT function

+---+
| id|
+---+
|  1|
|  2|
|  3|
+---+