<a href="https://colab.research.google.com/github/Joseph941230/Pyspark/blob/main/Pyspark_table_prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [21]:
Address_df = spark.read.csv("Address.csv",header = True, inferSchema = True).createOrReplaceTempView("Address") # use inferSchema can treat the right data type and create spark table

In [22]:
Person_df = spark.read.csv("Person.csv",header = True, inferSchema = True).createOrReplaceTempView("Person") # use inferSchema can treat the right data type

In [23]:
SSN_df = spark.read.csv("SSN.csv",header = True, inferSchema = True).createOrReplaceTempView("SSN") # use inferSchema can treat the right data type

In [32]:
SSN_df = spark.sql("SELECT CITY FROM SSN WHERE CITY LIKE '%Na%'").show() # Pysaprk SQL to output result

+---------+
|     CITY|
+---------+
|   Narsaq|
|Nangerang|
+---------+

In [37]:
Address_df= spark.sql("SELECT * FROM Address WHERE id < 10").show()

+---+-----------+---------+
| id|       City|  Country|
+---+-----------+---------+
|  1|   Sahnaiya|    Syria|
|  2|   Pankshin|  Nigeria|
|  3|      Froly|   Russia|
|  4|      Nytva|   Russia|
|  5| Loujiadian|    China|
|  6|     Dongdu|    China|
|  7|   Caikouji|    China|
|  8|      Bombu|Indonesia|
|  9|Santo Amaro| Portugal|
+---+-----------+---------+

In [46]:
New_df = spark.sql("SELECT p.id, a.city FROM Person p JOIN Address a on p.id = a.id").show() # sprak SQL functions SELECT ID and city

+---+--------------+
| id|          city|
+---+--------------+
|  1|      Sahnaiya|
|  2|      Pankshin|
|  3|         Froly|
|  4|         Nytva|
|  5|    Loujiadian|
|  6|        Dongdu|
|  7|      Caikouji|
|  8|         Bombu|
|  9|   Santo Amaro|
| 10|     Takahashi|
| 11|        Xiaoya|
| 12|     Yongchuan|
| 13|Dayr Abū Ḑa‘īf|
| 14|          Perm|
| 15|      La Julia|
| 16|     Khovaling|
| 17|         Putre|
| 18|     Nevesinje|
| 19|        Paseka|
| 20|        Yangxu|
+---+--------------+
only showing top 20 rows

In [9]:
Person_df.show()

+---+----------+----------+--------------------+-----------+
| id|first_name| last_name|               email|     gender|
+---+----------+----------+--------------------+-----------+
|  1|   Dimitry|   Pattlel|dpattlel0@dyndns.org|    Agender|
|  2|      Tybi|Everington|teverington1@goog...|     Female|
|  3|    Willis|      Brik| wbrik2@bluehost.com|       Male|
|  4|     Allin|   Henrych|ahenrych3@shop-pr...|   Bigender|
|  5|    Evelin|Waterhouse|ewaterhouse4@wiki...|       Male|
|  6|      Trip|   Partner|tpartner5@howstuf...|       Male|
|  7|    Ronnie|   Grafham|rgrafham6@bloombe...|     Female|
|  8|  Nikolaos|  Risebrow|  nrisebrow7@icio.us|       Male|
|  9|  Marillin| Filintsev|  mfilintsev8@i2i.jp|     Female|
| 10|      Tobe|    Saward|tsaward9@over-blo...|     Female|
| 11|    Averil|  Lavielle|alaviellea@cpanel...|       Male|
| 12|   Teodoor|    Divell|tdivellb@dagondes...|       Male|
| 13|    Tomlin|    Twaits|ttwaitsc@independ...|       Male|
| 14|       Tim|    Folker|     tfolkerd@nhs.uk|     Female|
| 15|      Duke|   Humpage|  dhumpagee@about.me|       Male|
| 16|      Adan|    Jahnig|   ajahnigf@sohu.com|     Female|
| 17|    Ansell|     Thame|athameg@cloudflar...|       Male|
| 18| Westleigh|    Diggle|wdiggleh@bravesit...|Genderqueer|
| 19|     Deena|   Barsham|dbarshami@twitter...|     Female|
| 20|    Vinita|  Melendez|vmelendezj@cdbaby...|   Bigender|
+---+----------+----------+--------------------+-----------+
only showing top 20 rows

In [20]:
SSN_df = spark.sql("SELECT City FROM SSN").show()

+--------------+
|          City|
+--------------+
|      Sahnaiya|
|      Pankshin|
|         Froly|
|         Nytva|
|    Loujiadian|
|        Dongdu|
|      Caikouji|
|         Bombu|
|   Santo Amaro|
|     Takahashi|
|        Xiaoya|
|     Yongchuan|
|Dayr Abū Ḑa‘īf|
|          Perm|
|      La Julia|
|     Khovaling|
|         Putre|
|     Nevesinje|
|        Paseka|
|        Yangxu|
+--------------+
only showing top 20 rows

In [17]:
Person_df.where("gender == 'Female'")

+---+----------+-----------+--------------------+------+
| id|first_name|  last_name|               email|gender|
+---+----------+-----------+--------------------+------+
|  2|      Tybi| Everington|teverington1@goog...|Female|
|  7|    Ronnie|    Grafham|rgrafham6@bloombe...|Female|
|  9|  Marillin|  Filintsev|  mfilintsev8@i2i.jp|Female|
| 10|      Tobe|     Saward|tsaward9@over-blo...|Female|
| 14|       Tim|     Folker|     tfolkerd@nhs.uk|Female|
| 16|      Adan|     Jahnig|   ajahnigf@sohu.com|Female|
| 19|     Deena|    Barsham|dbarshami@twitter...|Female|
| 26|     Polly|       Laba|        plabap@is.gd|Female|
| 27|      Kali|    Kording|kkordingq@blogspo...|Female|
| 28|  Morganne|    Ziemens|  mziemensr@furl.net|Female|
| 31|    Alisun|Rosenthaler|arosenthaleru@git...|Female|
| 35|    Linell| Horsefield|lhorsefieldy@dail...|Female|
| 41|      Juli|   Boldison|jboldison14@smugm...|Female|
| 42|     Nancy|   Busswell|nbusswell15@wufoo...|Female|
| 44| Hortensia|     Vasler|hvasler17@github.com|Female|
| 45|    Arabel|    Smewing|asmewing18@japanp...|Female|
| 46|   Caresse|     Gauler|cgauler19@discuz.net|Female|
| 49| Hollyanne|    Basilio|hbasilio1c@sharea...|Female|
| 52|     Cathy|  Hendricks|chendricks1f@accu...|Female|
| 53|    Elwira|      Swire|eswire1g@trellian...|Female|
+---+----------+-----------+--------------------+------+
only showing top 20 rows